html {
    font-size: 10px;

    a {
        all: unset;
    }

    input, select {
        font-size: 1.5rem;
        padding: 8px;
    }

    @media screen and (max-width: 350px) {
       font-size: 8px;
    }
}
